<% include header%>
<% if(user){ %>
<div class="container" id="toolbar">
    <button class="btn btn-success" onclick="location.href = '/add'">添加信息</button>

    <form action="/search" method="get" class="search">

            <div class="col-lg-12">
                <div class="input-group">

                    <input type="text" class="form-control" name="keyword" placeholder="Search Here">
                </div>
            </div>

    </form>
    <button class="btn btn-danger" id="remove" style="margin-left: 800px">删除</button>
</div>

<!--表格-->
<div class="container">
    <table class="table table-bordered table-hover text-center">
        <tr class="active ">
            <th><input id="CheckAll"  type="checkbox" > 全选</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>联系方式</th>
            <th>邮箱</th>
            <th>时间
                <a class="px" href="?px"><span class="glyphicon glyphicon-resize-vertical"></span></a>
            </th>
            <th>编辑</th>
            <th>删除</th>
        </tr>

        <% for(var i = 0; i < doc.length; i++){%>
        <tr>
            <td><input data-id="<%=doc[i]._id%>" class="item" name="item" class="input" type="checkbox" /></td>
            <td><%= doc[i].name %></td>
            <td><%= doc[i].age %></td>
            <td><%= doc[i].phone %></td>
            <td><%= doc[i].email %></td>
            <td><%= doc[i].time %></td>
            <td>
                <span class="glyphicon glyphicon-edit btn btn-success" onclick="location.href = '/edit/<%=doc[i]._id %>'"></span>
            </td>
            <td>
                <a href="/remove/<%=doc[i]._id %>" class="glyphicon glyphicon-trash btn btn-info" onclick="remove()"></a>
                <!--在art-template模版中获取不到_id属性    -->
            </td>
        </tr>
       <%}%>
    </table>

</div>
<%} else {%>
<div class="container">
    <div class="jumbotron">
        <h1>登录后才能进行后续操作</h1>
        <p><a href="/login" class="btn btn-primary btn-lg" role="button" >
                点我登录</a>
        </p>
    </div>
</div>
<%}%>
<% include paging%>
<% include footer%>
<script>
function remove() {
    if(!confirm("是否要彻底删除选中项！！！")){
        window.event.returnValue = false;
    }

}
$('.item').click(function () {
    var isCheckAll = $('.item:not(:checked)').length ? false:true;
    $('#CheckAll').prop("checked",isCheckAll);
})

$('#CheckAll').click(function(){
    var self = $(this);
    $('.item').each(function(){
        $(this).prop("checked",self.is(':checked'));
    });
});
</script>